<b>You are logged in as <%= @user.email %></b> <br> <br>
 
<a class="button" href="/reviews/new"> Review a book </a> <br> <br> 
 
<a class="button" href="/reviews"> See your reviews </a> <br> <br> 

<a class="button" href="/users/logout"> Log Out </a>
